<div *ngIf="authService.isUserLoggedIn()">
    <div class="alert alert-info">
        <h2>Order Management system</h2>
        <p>An efficient tool for managing orders</p>
    </div>
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2" type="button" [routerLink]="['/place-order']">Place
                order</button>
            <button class="btn btn-outline-success me-2" type="button" [routerLink]="['/home']">View all orders</button>
            <button class="btn btn-outline-success me-2" type="button" [routerLink]="['/find-order','']">Retrieve a
                specific order</button>
            <button class="btn btn-outline-danger me-2" type="button" (click)="authService.logout()">Logout</button>

        </form>
    </nav>
</div>