<div *ngIf="order===null" class="alert alert-danger">
    <h4>No Orders found for the given Order ID</h4>
    </div>

<table class="table">

    <tbody>
        <tr>
            <td> <label for="order-id">Order ID</label> </td>
            <td> <input type="text" [(ngModel)]="orderId" name="order-id"></td>
            <td> <button class="btn btn-primary" (click)="findOrder(orderId)"> View Order</button></td>
        </tr>
    </tbody>
</table>


<h2></h2>

<table class="table table-striped table-dark" *ngIf="order!==null">
    <thead title="Summary of the Order: {{orderId}}">
    </thead>
    <tr>
        <th>Order Type</th>
        <th>Order Description</th>

    </tr>

    <tbody>
        <tr>
            <td>{{ order.orderType}}</td>
            <td>{{ order.orderDescription}}</td>
        </tr>
    </tbody>
</table>

